<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JKT48 Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <form class="login-form" action="/login" method="post">
            <h2>Log in | JKT-48</h2>
            <input type="text" placeholder="Username" required name ="name">
            <input type="password" placeholder="Password" required name ="pwd">
            <button type="submit">Login</button>
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </form>
    </div>
</body>
</html>
