<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/payment.css">
   
    <title>Payment Page</title>
</head>
<body>
    
    <!-- start: Payment -->
    <section class="payment-section">
        <div class="container">
            <div class="payment-wrapper">
                <div class="payment-left">
                    <div class="price__card">
                        <div class="price__content">
                          <h4>1 Year</h4>
                          <p>
                            IDR 500.000
                          </p>
                          <hr />
                          <h4>Benefits</h4>
                          <li>Free ticket video call</li>
                          <li>Free ticket theater</li>
                          <li>Meet & Greet</li>
                          <li>Handshake</li>
                          <li>Free merchandise</li>
                        </div>
                      </div>

                    <div class="payment-content">
                        <div class="payment-body">
                            <div class="payment-summary">             
                                <div class="payment-summary-divider"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="payment-right">
                    <form action="/paying" method="post" class="payment-form">
                        <h1 class="payment-title">Payment Details</h1>
                        <div class="payment-method">
                            <input type="radio" name="payment-method" id="method-1" value="gopay" checked>
                            <label for="method-1" class="payment-method-item">
                                <img src="images/gopay.png" alt="" >
                            </label>
                            <input type="radio" name="payment-method" id="method-2" value="ovo">
                            <label for="method-2" class="payment-method-item">
                                <img src="images/Ovo.png" alt="">
                            </label>
                            <input type="radio" name="payment-method" id="method-3" value="dana">
                            <label for="method-3" class="payment-method-item dana">
                                <img src="images/dana.png" alt="">
                            </label>
                            <input type="radio" name="payment-method" id="method-4" value="qris">
                            <label for="method-4" class="payment-method-item">
                                <img src="images/qris.png" alt="">
                            </label>
                        </div>
                        <input type="hidden" for="type" name="type" id="type" value="">
                        <div class="payment-form-group">
                            <input type="text" value="<%= user.name %>" readonly placeholder=" " class="payment-form-control" id="username" name="name">
                            <label for="card-number" class="payment-form-label payment-form-label-required">Username</label>
                          </div>
                        <div class="payment-form-group">
                            <input type="email" placeholder=" " class="payment-form-control" id="email" name="email">
                            <label for="email" class="payment-form-label payment-form-label-required">Email Address</label>
                        </div>
                        <div class="payment-form-group">
                            <input type="number" placeholder=" " class="payment-form-control" id="phone-number" name="number">
                            <label for="card-number" class="payment-form-label payment-form-label-required">Phone Number</label>
                        </div>

                        <div class="payment in">
                            <div class="payment-body">
                                <div class="payment-plan">
                                    <div class="payment-plan-info">
                                        <div class="payment-plan-info-name">PRICE</div>
                                        <div class="payment-plan-info-price">Rp 500.000</div>
                                    </div>
                                </div>
                                <div class="payment-summary">
                                    <div class="payment-summary-item">
                                        <div class="payment-summary-name">10% Tax</div>
                                        <div class="payment-summary-price">RP 50.000</div>
                                    </div>
                                    <div class="payment-summary-divider"></div>
                                    <div class="payment-summary-item payment-summary-total">
                                        <div class="payment-summary-name">Total</div>
                                        <div class="payment-summary-price">-RP 550.000</div>
                                    </div>
                                    <input type="hidden" for="harga" name="waktu" value="365" >
                                    <input type="hidden" for="harga" name="price" value="550000" >
                        
                        <button type="submit" class="payment-form-submit-button"><i class="ri-wallet-line"></i> Pay</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
   

    <script>
        // Get references to elements
    const paymentMethodRadios = document.querySelectorAll('input[name="payment-method"]');
    const typeInput = document.getElementById('type');

    // Add event listener to each radio button
    paymentMethodRadios.forEach(radio => {
      radio.addEventListener('change', function() {
        // If a radio button is checked, set its value to the type input
        if (this.checked) {
          typeInput.value = this.value; // Set the value of the type input to the value of the selected radio button
        }
      });
    });
        const images = document.querySelectorAll('.payment-method-item');

        images.forEach(image =>{
            image.addEventListener('click',()=>{
                images.forEach(img => img.classList.remove('selected'));
                image.classList.add('selected');
                const selectedImageSrc = image.getAttribute('src');
                console.log('Selected Image:', selectedImageSrc);
            })
        })
    </script>
</body>
</html>